
/*changes to font to the whole body*/
body {
    font-family: Arial, Helvetica, sans-serif;
}
/*aligns text in heading, background and font color and spacing*/
header {
    display: flex;
    justify-content: space-between;
    color: white;
    align-items: center;
    background-color: rgb(4, 4, 56);
    padding: 15px;
}
/*sets the font of h1*/
h1 {
    font-size: 350%;
}
/*sets the nav bar style*/
header nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 250px;
}
/*changes nav bar text style*/
header nav ul li a {
    color: white;
    text-decoration: none;
}
/*sets sub class to flex aligns items sets background color*/
.sub {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(80, 80, 80);
}
/*changes image size in sub */
.sub img {
    max-width: 200px;
}
/*changes h2 font size*/
h2 {
    font-size: 250%;
}
/*changes h3 font size*/
h3 {
    font-size: 200%;
}
/*aligns items, pushes content to the left*/
.abtContent {
    display: flex;
    margin-top: 30px;
    flex-direction: row;
    justify-content: flex-start;
}
/*aligns items*/
.abtContent p {
    padding-left: 200px;
}
/*aligins items*/
.wkContent {
    display: flex;
    margin-top: 30px;
}
/*aligns items, adds spacing*/
.cmContent {
    display: flex;
    margin-top: 30px;
    flex-direction: row;
    justify-content: space-between;
}
/*styles bottom nav bar, alignes items*/
.cmContent nav {
    display: flex;
    justify-content: space-around;
    width: 75%;
}
/*aligns itmes in nav bar */
.cmContent nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 900px;
    align-items: center;
}
/*cneters images and wraps them it next line*/
.allImages {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
/*sets image size, border and aligns the 1st image element*/
#bigImage {
    border-style: solid;
    border-width: 5px;
    border-color: black;
    position: relative;
    display: flex;
    justify-content: center;
    margin: 5px;
    max-width: 100%;
}
/*sizes the image in the element*/
#bigImage a img {
    width: 100%;
    min-width: 600px;
}
/*sets image size, border and aligns the other images element*/
.otherImage a img {
    width: 100%;
    min-width: 200px;
}
/*sizes the image in the element*/
.otherImage {
    display: flex;
    position: relative;
    justify-content: center;
    border-style: solid;
    border-width: 5px;
    border-color: black;
    margin: 5px;
    max-width: 30%;
    min-width: 200px
}
/*sets the text box as absolute and styles and aligns it*/
.imageText {
    position: absolute;
    background-color: rgb(0, 0, 0);
    border-style: solid;
    border-color: black;
    color: white;
    border-width: 0  5px 5px 5px;
    padding: 5px;
    text-align: center;
}
/*adds resposive display to devices at 992px or smaller. updates the header colors, changes bot nav bars layout */
@media screen and (max-width: 992px) {
    header {
        background-color: gray;
    }
    header nav ul {
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
    }
    header nav ul li {
        min-height: 35px;
    }
    .cmContent nav ul {
        flex-direction: column;
        align-items: center;
    }
    .cmContent nav ul li {
        min-height: 35px;
    }
    .cmContent {
        align-items: center;
    }
}