
/*changes to font to the whole body*/
:root {
    --color1: #0b2060;
    --color2: #008080;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
/*aligns text in heading, background and font color and spacing*/
header {
    display: flex;
    justify-content: space-between;
    color: white;
    align-items: center;
    background-color: var(--color1);
    padding: 15px;
}
/*sets the font of h1*/
h1 {
    font-size: 350%;
}
/*sets the nav bar style*/
header nav ul, footer nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 250px;
    list-style: none;
}
/*changes nav bar text style*/
header a, footer a {
    color: white;
    text-decoration: none;
}
/*sets sub class to flex aligns items sets background color*/
.sub {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color2);
}
/*changes image size in sub */
.sub img {
    max-width: 200px;
}

section {
    background-color: var(--color2);;
}
/*changes h2 font size*/
h2 {
    font-size: 250%;
}
/*changes h3 font size*/
h3 {
    font-size: 200%;
    text-align: center;
    padding-bottom: 10px;
    background-color: var(--color1);
    color: white;
}

h4 {
    font-size: 150%;
    text-align: center;
    padding-bottom: 10px;
}

.abtme {
    background-color: ;
    color: ;
    padding: 5px;
    line-height: 1.5;
}

main header {
    background-color: var(--color2);
    display: flex;
    justify-content: center;
    color: black;
}

main {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2%;
    max-width: 75%;
    margin: auto;
}

main > section {
    flex: 1 0 50%;
    text-align: center;
    padding: 10px;
}

main > section:first-child {
    flex: 0 1 100%;
}

.card {
    flex: 1 0 0;
    padding: 10px;
    text-align: center;
    border-style: solid;
    border-width: 2px;
    border-color: white;
    background-color: var(--color1);
}

.card img {
    width: 10%;
    min-width: 300px;
}


/*sizes the image in the element*/
#image1 a img {
    width: 50%;
}
/*sets image size, border and aligns the other images element*/
#image2 a img {
    width: 50%;
}

#image3 a img {
    width: 50%;

}

footer {
    padding-top: 10px;
    background-color: var(--color1);
    border-style: solid;
    border-width: 5px;
    border-color: white;
    color: white;

}

footer nav {
    width: 70%;
    margin: auto;
    padding: 10px;
}
/*adds resposive display to devices at 992px or smaller. updates the header colors, changes bot nav bars layout */
@media screen and (max-width: 992px) {
    :root {
        --color1: black;
        --color2: rgb(188, 183, 183);
    }
    header nav ul {
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
    }
    header nav ul li {
        min-height: 35px;
    }
    footer nav ul {
        flex-direction: column;
        align-items: center;
    }
    footer nav ul li {
        min-height: 35px;
    }
}